﻿@using FarmManager.Common.Consts
@using FarmManager.Data.Entities.System
@using Microsoft.AspNetCore.Authorization

@inherits LogsBase

@page "/logs"
@attribute [Authorize]

<PageTitle>Logs</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<MudTable
    T="Log"
    Items="Logs"
    Dense="true"
    Hover="true"
    Striped="true"
    Filter="new Func<Log, bool>(HandleFilter)"
>
    <ToolBarContent>
        <div id="date-range-container" class="date-range-container">
            <MudDateRangePicker Label="Log Date"
                                Variant="Variant.Outlined"
                                Margin="Margin.Dense"
                                @bind-DateRange="@LogDateRange"
                                @ref="LogDatePicker"
            >
                <PickerActions>
                    <MudButton OnClick="@(() => LogDatePicker?.Close(false))">
                        Cancel
                    </MudButton>
                    <MudButton Color="Color.Primary"
                               OnClick="@(() => RefreshLogs())">
                        Ok
                    </MudButton>
                </PickerActions>
            </MudDateRangePicker>
        </div>
        <MudTextField @bind-Value="@SearchText"
                      Label="Search Text"
                      Variant="Variant.Outlined"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      Margin="Margin.Dense"
                      Class="margin-small-right"
        >
        </MudTextField>
        <MudButton
            Variant="Variant.Outlined"
            StartIcon="@Icons.Material.Filled.Refresh"
            OnClick="LoadLogs"
        >
            Refresh
        </MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Log, object>(x => x.Timestamp)">
                Timestamp
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Log, object>(x => x.LogLevel)">
                Level
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Log, object>(x => x.Source ?? string.Empty)">
                Source
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            Message
        </MudTh>
        <MudTh>
            Data
        </MudTh>
        <MudTh>
            Stack Trace
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Timestamp.ToString(Formatting.DateFormat)</MudTd>
        <MudTd>
            @if(true)
            {
                string logClass = context.LogLevel == LogLevel.Information
                    ? "info-log"
                    :context.LogLevel == LogLevel.Warning
                        ? "warning-log"
                        : context.LogLevel == LogLevel.Error
                            ? "error-log"
                            : context.LogLevel == LogLevel.Critical
                                ? "critical-log"
                                : string.Empty;

                <span class="@logClass">
                    @context.LogLevel
                </span>
            }
        </MudTd>
        <MudTd>@context.Source</MudTd>
        <MudTd>@context.Message</MudTd>
        <MudTd>@context.Data</MudTd>
        <MudTd>@context.StackTrace</MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Records Per Page" />
    </PagerContent>
</MudTable>