﻿@using FarmManager.Common.Helpers
@using FarmManager.Data.Entities.Production
@using FarmManager.Data.Entities.Operations

@inherits PromoteLotDialogBase

<MudDialog>
    <DialogContent>
        @if(DisplayContent) 
        {
            @if (Statuses.Count > 1)
            {
                <MudSelect T="int"
                    Label="Next Status"
                    Margin="Margin.Dense"
                    Dense="true"
                    Variant="Variant.Outlined"
                    AnchorOrigin="Origin.BottomCenter"
                    Class="margin-small-bottom"
                    @bind-Value="ChosenStatusId">
                    @foreach (LotProgression progression in Statuses)
                    {
                        <MudSelectItem Value="progression.NextStatusId">@progression.NextStatus.Label</MudSelectItem>
                    }
                </MudSelect>
                if(
                    !string.IsNullOrEmpty(ChosenStatusName) 
                    && string.Equals(ChosenStatusName, "transplanted", StringComparison.OrdinalIgnoreCase)
                )
                {
                    <MudSelect
                        T="int"
                        Label="Transplant Location"
                        Margin="Margin.Dense"
                        Dense="true"
                        Variant="Variant.Outlined"
                        AnchorOrigin="Origin.BottomCenter"
                        Class="margin-small-bottom"
                        @bind-Value="ChosenTransplantLocationId"
                    >
                        @foreach (FarmLocation location in Locations)
                        {
                            string parent = LocationHelper.GenerateBusinessLocationParentString(location);
                            string locationName = string.IsNullOrEmpty(parent)
                                ? location.Name
                                : $"{location.Name} {parent}";

                            <MudSelectItem Value="location.Id">
                                @locationName
                            </MudSelectItem>
                        }
                    </MudSelect>
                }
            }
            else
            {
                <MudText>Are you sure you want to promote the lot to @Statuses.First().NextStatus.Label?</MudText>
            }
        }
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Promote
        </MudButton>
    </DialogActions>
</MudDialog>