﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Components.ReceiveInventoryDialog.ProductSelect
@using FarmManager.Web.Components.ReceiveInventoryDialog.SourceSelect
@using FarmManager.Web.Components.ReceiveInventoryDialog.Summary

@inherits ReceiveInventoryDialogBase

<MudDialog>
    <DialogContent>
        @if (Stage == ReceivingStage.SourceSelect)
        {
            <SourceSelect 
                OnBarcodeScan="HandleBarcodeScan"
                OnManual="HandleManual"
            />
        }

        @if (Stage == ReceivingStage.ProductSelect)
        {
            <ProductSelect
                OnVariantSelect="HandleVariantSelect"
                Barcode="@ScannedBarcode"
            />
        }

        @if (Stage == ReceivingStage.Summary)
        {
            <Summary 
                Items="Items"
                HandleAdd="HandleAddItem"
                OnManual="HandleManual"
                OnBarcodeScan="HandleBarcodeScan"
                OnDelete="HandleDelete"
            />
        }

    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="HandleCancel"
        >
            Cancel
        </MudButton>
        @if (Stage == ReceivingStage.Summary)
        {
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                OnClick="TrySave"
            >
                Save
            </MudButton>
        }
    </DialogActions>
</MudDialog>