﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Common.Helpers

@using Enum = FarmManager.Data.Entities.Generic.Enum

@inherits AddLotDialogBase

<MudDialog>
    <DialogContent>
        @* Generic Options *@
        <MudTextField 
            T="string"
            Label="Lot Number"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            Disabled="true"
            Value="Lot.LotNumber"
        />
        <MudSelect
            T="int"
            Label="Product"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="Lot.ProductId"
        >
            @foreach(Product product in Products) 
            {
                <MudSelectItem Value="product.Id">@product.Name</MudSelectItem>
            }
        </MudSelect>
        <MudSelect
            T="int"
            Label="Location"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="Lot.FarmLocationId"
        >
            @foreach(FarmLocation location in Locations)
            {
                <MudSelectItem Value="location.Id">@location.Name @LocationHelper.GenerateBusinessLocationParentString(location)</MudSelectItem>
            }
        </MudSelect>
        <MudSelect
            T="Enum"
            Label="Lot Type"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="LotType"
        >
            @foreach(Enum e in LotTypes)
            {
                <MudSelectItem Value="e">@e.Label</MudSelectItem>
            }
        </MudSelect>
        <MudDivider Class="margin-small-bottom"/>

        @* Crop Options *@
        @if(LotType.Name == "crop") 
        {
            <MudSelect
                T="int?"
                Label="Seed Variety"
                Margin="Margin.Dense"
                Dense="true"
                Variant="Variant.Outlined"
                AnchorOrigin="Origin.BottomCenter"
                Class="margin-small-bottom"
                Disabled="@(Lot.ProductId == null)"
                @bind-Value="Crop.SeedVariantId"
            >
                @foreach(ProductVariant variant in AvailableSeedVariants()) 
                {
                    <MudSelectItem Value="(int?)variant.Id">@variant.Name</MudSelectItem>
                }
            </MudSelect>
            <MudTextField
                T="string"
                Label="Seed Identifier"
                HelperText="Barcode or Lot #"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                Class="margin-small-bottom"
                @bind-Value="Crop.SeedIdentifier"
            />
            <MudTextField
                T="int?"
                Label="Planting Count"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                Class="margin-small-bottom"
                @bind-Value="Crop.PlantedCount"
            />
            <MudTextField
                T="double?"
                Label="Seeds / Planting"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                Class="margin-small-bottom"
                @bind-Value="Crop.SeedsPerPlanting"
            />
        }
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>