﻿@using FarmManager.Common.Helpers
@using FarmManager.Data.Entities.Operations

@inherits AddBatchDialogBase

<MudDialog>
    <DialogContent>
        <MudTextField 
            T="int"
            Label="Batch Number"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            Disabled="true"
            Value="Batch.BatchNumber"
        />
        <MudSelect
            T="int"
            Label="Variant"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="Batch.VariantId"
        >
            @foreach(ProductVariant variant in Variants) 
            {
                <MudSelectItem Value="variant.Id">@variant.Name</MudSelectItem>
            }
        </MudSelect>
        <MudSelect
            T="int"
            Label="Location"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="Batch.FarmLocationId"
        >
            @foreach(FarmLocation location in Locations) 
            {
                string parent = LocationHelper.GenerateFarmLocationParentString(location);
                parent = string.IsNullOrEmpty(parent)
                    ? parent
                    : $"({parent})";

                <MudSelectItem Value="location.Id">@location.Name @parent</MudSelectItem>
            }
        </MudSelect>
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>