﻿@using FarmManager.Data.Entities.Reports.Production

@inherits YieldsBase

<MudDialog>
    <DialogContent>
        <MudTable T="CropStatisticYield"
                  Items="Yields"
                  Dense="true"
                  Hover="true"
                  Striped="true">
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CropStatisticYield, object>(x => x.Variant)">
                        Variant
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CropStatisticYield, object>(x => x.ItemsPerBatch)">
                        Items per Batch (avg)
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CropStatisticYield, object>(x => x.MinItemsPerBatch)">
                        Min Items per Batch
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CropStatisticYield, object>(x => x.MaxItemsPerBatch)">
                        Max Items per Batch
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CropStatisticYield, object>(x => x.ItemsPerLot)">
                        Items per Lot (avg)
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<CropStatisticYield, object>(x => x.BatchesPerLot)">
                        Batches per Lot (avg)
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Variant</MudTd>
                <MudTd>@context.ItemsPerBatch</MudTd>
                <MudTd>@context.MinItemsPerBatch</MudTd>
                <MudTd>@context.MaxItemsPerBatch</MudTd>
                <MudTd>@context.ItemsPerLot</MudTd>
                <MudTd>@context.BatchesPerLot</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager RowsPerPageString="Variants per Page" />
            </PagerContent>
        </MudTable>
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="HandleClose"
        >
            Close
        </MudButton>
    </DialogActions>
</MudDialog>