﻿@inherits SourceSelectBase  


<MudText 
    Typo="Typo.body1"
    Align="Align.Center"
    Class="margin-small-bottom"
>
    Enter or Scan a barcode to begin
</MudText>
<div class="flex-row margin-small-bottom">
    <MudTextField 
        T="string"
        Label="Barcode"
        AutoFocus="true"
        Variant="Variant.Outlined"
        Margin="Margin.Dense"
        Class="margin-small-right"
        ValueChanged="HandleBarcodeChange"
    />
    <MudText 
        Typo="Typo.body1" 
        Align="Align.Center"
        Class="margin-small-right margin-auto"
    >
        - OR -
    </MudText>
    <MudButton
        Variant="Variant.Outlined"
        Color="Color.Secondary"
        OnClick="HandleManual"
    >
        Manual
    </MudButton>
</div>