﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Components.FarmManagerTable
@using Microsoft.AspNetCore.Authorization

@inherits UnitsBase

@page "/units"
@attribute [Authorize]

<PageTitle>Units</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<FarmManagerTable
    T="Unit"
    Items="Items"
    HandleAddItem="HandleAddItem"
    Filter="HandleFilter"
>
    <Columns>
        <col />
        <col />
        <col class="table-actions" />
    </Columns>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Unit, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Unit, object>(x => x.Symbol)">
                Symbol
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            Precision
        </MudTh>
        <MudTh />
    </Header>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Symbol</MudTd>
        @if (true)
        {
            string precision = context.Precision == 0
                ? "1"
                : $"1.".PadRight(2 + context.Precision, '0'); ;

            <MudTd>@precision</MudTd>
            <MudTd>
                <MudIconButton 
                    Icon="@Icons.Material.Filled.DeleteForever" 
                    Color="Color.Error"
                    OnClick=@(() => HandleDeleteItem(
                        $"Are you sure you want to delete {context.Symbol} with precision {precision}?", 
                        context
                    ))
                />
            </MudTd>
        }
    </RowTemplate>
</FarmManagerTable>