﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Pages.Operations.Products.ProductInformation.ProductDetails
@using FarmManager.Web.Pages.Operations.Products.ProductInformation.VariantDetails
@using Microsoft.AspNetCore.Authorization

@inherits ProductInformationBase

@page "/products/{productId:int}"
@attribute [Authorize]

<PageTitle>Product Information</PageTitle>

<MudBreadcrumbs Items="BreadCrumbs" />
<MudTabs
    Elevation="0"
    Rounded="true"
    ApplyEffectsToContainer="true"
    Centered="true"
>
    <MudTabPanel Text="Product Detail">
        @if(Product != null)
        {
            <ProductDetails 
                Product="Product"
                Categories="Categories"
            />   
        }
    </MudTabPanel>

    <MudTabPanel 
        Text="Variants"
        BadgeData="@Product?.Variants?.Count"
        BadgeColor="Color.Primary"
    >
        <VariantDetails 
            Variants="Product?.Variants?.ToList()"
            Units="Units"
            HandleAddVariant="HandleAddVariant"
            HandleRemoveVariant="HandleRemoveVariant"
        />
    </MudTabPanel>
</MudTabs>
<div class="flex-row flex-around margin-small-top">
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Error"
        OnClick="HandleBack"
    >
        Back
    </MudButton>
    <MudButton
        Variant="Variant.Filled"
        Color="Color.Primary"
        OnClick="HandleSave"
    >
        Save
    </MudButton>
</div>