﻿@inherits RegisterDeviceDialogBase

<MudDialog>
    <DialogContent>
        <MudTextField 
            Label="Device Id" 
            Variant="Variant.Outlined" 
            Margin="Margin.Dense"
            Error="@InError"
            ErrorText="@ErrorMessage"
            @bind-Value="@DeviceId" 
        />
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>