﻿@inherits DrawerBase

<div>
    <MudDrawer
        Elevation="1"
        ClipMode="DrawerClipMode.Always"
        @bind-Open="@Store.DrawerOpen"
    >
        <AuthorizeView>
            <Authorized>
                <MudDrawerHeader Class="drawer-logo">
                    <img id="logo" src="img/logo.svg" alt="KTech Farms" width="200" />
                </MudDrawerHeader>
                <MudNavMenu class="flex-column height-100">
                    <MudNavLink 
                        Href="/"
                        Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.Dashboard"
                    >
                        Dashboard
                    </MudNavLink>
                    <MudNavLink
                        Href="/reports"
                        Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.DataExploration"
                    >
                        Reports
                    </MudNavLink>
                    <MudNavLink 
                        Href="/devices"
                        Match="NavLinkMatch.All"
                        Icon="@Icons.Material.Filled.DeviceHub"
                    >
                        Devices
                    </MudNavLink>
                    <MudNavGroup 
                        Title="Operations" 
                        Icon="@Icons.Material.Filled.Engineering"
                    >
                        <MudNavLink 
                            Href="/locations"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.LocationOn"
                        >
                            Locations
                        </MudNavLink>
                        <MudNavLink
                            Href="/units"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Scale"
                        >
                            Units
                        </MudNavLink>
                        <MudNavLink
                            Href="/categories"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Folder"
                        >
                            Categories
                        </MudNavLink>
                        <MudNavLink
                            Href="/products"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.PointOfSale"
                        >
                            Products
                        </MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup
                        Title="Production" 
                        Icon="@Icons.Material.Filled.Factory"
                    >
                        @*<MudNavLink
                            Href="/labels"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Label"
                        >
                            Labels
                        </MudNavLink>*@
                        <MudNavLink 
                            Href="/produce"
                            Match="NavLinkMatch.Prefix"
                            Icon="@Icons.Material.Filled.Agriculture"
                        >
                            Produce
                        </MudNavLink>
                        <MudNavLink
                            Href="/inventory"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Inventory"
                        >
                            Inventory
                        </MudNavLink>
                    </MudNavGroup>
                    <MudNavGroup
                        Title="Admin"
                        Icon="@Icons.Material.Filled.AdminPanelSettings"
                    >
                        <MudNavLink
                            OnClick="NavigateToJobDashboard"
                            Icon="@Icons.Material.Filled.Schedule"
                        >
                            Jobs
                        </MudNavLink>
                        <MudNavLink 
                            Href="/logs"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.QueryStats"
                        >
                            Logs
                        </MudNavLink>
                        <MudNavLink
                            Href="/settings"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.Settings"
                        >
                            Settings
                        </MudNavLink>
                    </MudNavGroup>
                    <MudSpacer />
                    <MudNavLink 
                        Href="mailto:contact-project+ktechfarms-farm-manager-support@incoming.gitlab.com"
                        Icon="@Icons.Material.Filled.BugReport"
                        IconColor="Color.Error"
                    >
                        Bug Report
                    </MudNavLink>
                    <MudNavLink
                        OnClick="HandleLogout"
                        Icon="@Icons.Material.Filled.Logout"
                    >
                        Logout
                    </MudNavLink>
                </MudNavMenu>
            </Authorized>
        </AuthorizeView>
    </MudDrawer>
</div>