﻿@inherits SasDialogBase

<MudDialog>
    <DialogContent>
        <MudTextField 
            T="string" 
            Label="SAS Token" 
            ReadOnly="true" 
            Value="Sas"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Material.Filled.CopyAll"
            AdornmentAriaLabel="Copy"
            OnAdornmentClick="Copy"
        />
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="HandleOk"
        >
            Ok
        </MudButton>
    </DialogActions>
</MudDialog>