﻿@using FarmManager.Common.Helpers
@using FarmManager.Data.Entities.Operations

@inherits TransferInventoryDialogBase

<MudDialog>
    <DialogContent>
        <div id="container" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-bottom: 1rem">
            <div id="from-location" class="margin-small-right transfer-column">
                <MudText 
                    Typo="Typo.subtitle2"
                    Class="margin-small-bottom"
                >
                    From:
                </MudText>
                <MudSelect
                    T="int"
                    Label="Business Location"
                    Margin="Margin.Dense"
                    Dense="true"
                    Variant="Variant.Outlined"
                    AnchorOrigin="Origin.BottomCenter"
                    Disabled="true"
                    Class="margin-small-bottom"
                    Value="TransferFromBusinessLocationId"
                >
                    @foreach (BusinessLocation location in BusinessLocations)
                    {
                        <MudSelectItem Value="location.Id">@location.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect
                    T="int?"
                    Label="Farm Location"
                    Margin="Margin.Dense"
                    Dense="true"
                    Variant="Variant.Outlined"
                    AnchorOrigin="Origin.BottomCenter"
                    Disabled="true"
                    Value="TransferFromFarmLocationId"
                >
                    @foreach (FarmLocation location in FarmLocations)
                    {
                        string parent = LocationHelper.GenerateFarmLocationParentString(location);
                        parent = string.IsNullOrEmpty(parent)
                            ? parent
                            : $"({parent})";

                        <MudSelectItem Value="(int?)location.Id">
                            @location.Name @parent
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>

            <MudIcon 
                Icon="@Icons.Material.Filled.ArrowForward" 
                Class="margin-small-right" 
                Size="Size.Large"
            />

            <div id="to-location" class="transfer-column">
                <MudText 
                    Typo="Typo.subtitle2"
                    Class="margin-small-bottom"
                >
                    To:
                </MudText>
                <MudSelect
                    T="int?"
                    Label="Business Location"
                    Margin="Margin.Dense"
                    Dense="true"
                    Variant="Variant.Outlined"
                    AnchorOrigin="Origin.BottomCenter"
                    Class="margin-small-bottom"
                    Value="TransferToBusinessLocationId"
                    ValueChanged="HandleTransferToBusinessLocationChange"
                >
                    @foreach (BusinessLocation location in BusinessLocations)
                    {
                        <MudSelectItem Value="@((int?)location.Id)">@location.Name</MudSelectItem>
                    }
                </MudSelect>
                <MudSelect
                    T="int?"
                    Label="Farm Location"
                    Margin="Margin.Dense"
                    Dense="true"
                    Variant="Variant.Outlined"
                    AnchorOrigin="Origin.BottomCenter"
                    @bind-Value="TransferToFarmLocationId"
                >
                    @foreach (FarmLocation location in FilteredFarmLocations())
                    {
                        string parent = LocationHelper.GenerateFarmLocationParentString(location);
                        parent = string.IsNullOrEmpty(parent)
                            ? parent
                            : $"({parent})";

                        <MudSelectItem Value="(int?)location.Id">
                            @location.Name @parent
                        </MudSelectItem>
                    }
                </MudSelect>
            </div>
        </div>
        <div id="summary">
            <MudText 
                Typo="Typo.subtitle2"
                Class="margin-small-bottom"
            >
                Summary:
            </MudText>
            <p>
                <strong>Transfering</strong><br />
                @foreach(string quantity in SelectedQuantitites)
                {
                    @quantity<br />
                }
                <strong>From</strong><br />
                @(BusinessLocationName(TransferFromBusinessLocationId)) - 
                @(FarmLocationName(TransferFromFarmLocationId))<br />
                <strong>To</strong><br />
                @(BusinessLocationName(TransferToBusinessLocationId)) - 
                @if(TransferToFarmLocationId != null) 
                {
                    @(FarmLocationName((int)TransferToFarmLocationId))
                }
                
            </p>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>