﻿@using FarmManager.Common.Consts
@using FarmManager.Data.DTOs.Devices
@using FarmManager.Web.Components.DirectMethodPanel
@using Microsoft.AspNetCore.Authorization

@inherits DeviceInformationBase

@page "/devices/{deviceId}"
@attribute [Authorize]

<PageTitle>Device Information</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<div class="flex-row margin-small-bottom">
    <MudText Typo="Typo.h5" Class="margin-small-right">@Device?.DeviceId</MudText>
    @if(Device != null) 
    {
        <MudButton 
            Variant="Variant.Outlined"
            Color="Color.Primary"
            OnClick="GenerateSas"
        >
            Generate SAS
        </MudButton>
    }
</div>

<div id="container" class="flex-row flex-wrap flex-even">
    <div id="information" class="flex-column">

        <MudCard Class="margin-small-bottom">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">
                        Device Information
                    </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText><strong>Name:</strong>@Device?.Name</MudText>
                <MudText><strong>Model:</strong> @Device?.Model</MudText>
                <MudText><strong>Serial Number:</strong> @Device?.SerialNumber</MudText>
                @if(Device != null && Device.LastConnection.HasValue) 
                {
                    <MudText><strong>Last Connection:</strong> @Device?.LastConnection.Value.ToString(Formatting.DateFormat)</MudText>
                }
                else 
                {
                    <MudText><strong>Last Connection:</strong></MudText>
                }
                <MudText><strong>Key:</strong> @Device?.DeviceKey</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Class="margin-small-bottom">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">
                        Device Interfaces
                    </MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                @foreach(InterfaceInformationDTO interfaceDto in Device?.Interfaces ?? new List<InterfaceInformationDTO>()) 
                {
                    <MudText>@interfaceDto?.InterfaceId (@interfaceDto?.Model)</MudText>
                }
            </MudCardContent>
        </MudCard>

    </div>

    <MudCard Class="margin-small-bottom">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Telemetry
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudChart 
                ChartType="ChartType.Line" 
                ChartSeries="@Series"
                ChartOptions="Options"
                XAxisLabels="@XAxisLabels"
                Width="100%"
                Height="315px"
                @bind-SelectedIndex="Index"
            />
        </MudCardContent>
    </MudCard>

</div>

<div id="direct-methods">
    <MudCard>
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Direct Methods
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudExpansionPanels>
                @foreach(var func in Device?.Methods ?? new List<MethodInformationDTO>()) 
                {
                    <DirectMethodPanel Function="func" DeviceId="@DeviceId"/>
                }
            </MudExpansionPanels>
        </MudCardContent>
    </MudCard>
</div>