﻿@inherits DirectMethodPanelBase

<div>
    <MudExpansionPanel Text="@Function.Name" Class="direct-method-panel">
        <MudText>@Function.Description</MudText>
        @if (Function.Parameters != null) 
        {
            foreach(var parameter in Function.Parameters) 
            {
                ParameterValues.TryGetValue(parameter.Key, out var boundValue);

                <div class="margin-small-vertical">
                    <MudTextField 
                        T="string"
                        Label="@parameter.Key"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense" 
                        ValueChanged="@((value) => HandleValueChange(parameter.Key, value))"
                    />
                </div>
            }
        }
        <div id="actions" class="flex-row">
            <MudSpacer />
            <MudButton 
                Color="Color.Primary"
                Variant="Variant.Filled"
                OnClick="ExecuteMethodAsync"
            >
                Execute
            </MudButton>
        </div>
    </MudExpansionPanel>
</div>