﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Components.FarmManagerTable
@using Microsoft.AspNetCore.Authorization

@inherits CategoriesBase

@page "/categories"
@attribute [Authorize]

<PageTitle>Categories</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<FarmManagerTable
    T="ProductCategory"
    Items="@Items"
    HandleAddItem="HandleAddItem"
    Filter="HandleFilter"
    PaginationString="Categories Per Page"
>
    <Columns>
        <col />
        <col class="table-actions" />
    </Columns>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<ProductCategory, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh />
    </Header>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>
            <MudIconButton
                Icon="@Icons.Material.Filled.DeleteForever"
                Color="Color.Error"
                OnClick="@(() => HandleDeleteItem(
                    $"Are you sure you want to delete {context.Name}?",
                    context
                ))"
            />
        </MudTd>
    </RowTemplate>
</FarmManagerTable>