﻿@using FarmManager.Common.Consts
@using FarmManager.Data.Entities.Generic
@using FarmManager.Web.Components.FarmManagerTable

@inherits NotesBase

<FarmManagerTable
    T="Note"
    Items="Items"
    HandleAddItem="HandleAddItem"
    PaginationString="Notes per page"
>
    <Header>
        <MudTh>
            Date
        </MudTh>
        <MudTh>
            Created By
        </MudTh>
        <MudTh>
            Note
        </MudTh>
    </Header>
    <RowTemplate>
        <MudTd>
            @context.Created.ToString(Formatting.DateFormat)
        </MudTd>
        <MudTd>
            @context.UserId
        </MudTd>
        <MudTd>
            @context.Text
        </MudTd>
    </RowTemplate>
</FarmManagerTable>