﻿@using FarmManager.Data.Entities.Operations

@inherits AddLabelDialogBase

<InputFile id="labelInput" OnChange="SetFile" hidden />

<MudDialog>
    <DialogContent>
        <MudTextField
            Label="Name"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value="Label.LabelName"
        />
        <MudSelect
            T="Product"
            Label="Product"
            Margin="Margin.Dense"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            Value="ChosenProduct"
            ValueChanged="HandleProductChange"
        >
            @foreach(Product product in Products) 
            {
                <MudSelectItem Value="product">@product.Name</MudSelectItem>
            }
        </MudSelect>
        <MudSelect
            T="int?"
            Label="Product Variant"
            Margin="Margin.Dense"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            Disabled="@(ChosenProduct == null)"
            @bind-Value="Label.ProductVariant"
        >
            @if(ChosenProduct != null) 
            {
                foreach (ProductVariant variant in ChosenProduct.Variants)
                {
                    <MudSelectItem Value="(int?)variant.Id">@variant.Name</MudSelectItem>
                }
            }
        </MudSelect>
            <MudButton
                HtmlTag="label"
                Variant="Variant.Filled"
                Color="Color.Secondary"
                StartIcon="@Icons.Material.Filled.CloudUpload"
                Style="width: 100%"
                for="labelInput"
            >
                Choose Label
            </MudButton>
        @if (LabelFile != null)
        {
            <MudText>@LabelFile.Name</MudText>
        }
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>