﻿@using Microsoft.AspNetCore.Authorization

@inherits IndexBase

@page "/"
@attribute [Authorize]

@* Hack to get the x-axis wider https://github.com/MudBlazor/MudBlazor/issues/2094 *@
<style>
    .mud-charts-bar-series {
        transform: scaleX(9);
    }
</style>

<PageTitle>Dashboard</PageTitle>

<MudText Typo="Typo.h5">Welcome to Farm Manager!</MudText>

<div id="content" class="flex-row flex-wrap margin-small-top">
    <MudCard Class="margin-small-bottom">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Devices
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudChart 
                ChartType="ChartType.Bar"
                ChartSeries="DeviceSummarySeries"
                XAxisLabels="DeviceSummaryLabels" 
                ChartOptions="DeviceSummaryOptions"
                Width="100%"
                Height="250px"
            />
        </MudCardContent>
    </MudCard>
</div>