﻿@inherits ConfirmationDialogBase

<MudDialog>
    <DialogContent>
        <MudText>@Message</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="CancelColor"
            OnClick="TryCancel"
        >
            @CancelText
        </MudButton>
        <MudButton
            Variant="Variant.Filled"
            Color="ConfirmColor"
            OnClick="TrySave"
        >
            @ConfirmText
        </MudButton>
    </DialogActions>
</MudDialog>