﻿@inherits AppBarBase

<MudAppBar Color="Color.Primary" Elevation="1">
    <AuthorizeView>
        <Authorized>
            <MudIconButton Icon="@Icons.Material.Filled.Menu"
                           Color="Color.Inherit"
                           Edge=Edge.Start
                           OnClick="@ToggleDrawer" />
            <MudSpacer />
        </Authorized>
    </AuthorizeView>
</MudAppBar>