﻿@using Enum = FarmManager.Data.Entities.Generic.Enum

@inherits DisposeInventoryDialogBase

<MudDialog>
    <DialogContent>
        <MudSelect
            T="int"
            Label="Dispoal Reason"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="SelectedDisposalReason"
        >
            @foreach (Enum reason in DisposalReasons)
            {
                <MudSelectItem Value="@reason.Id">@reason.Label</MudSelectItem>
            }
        </MudSelect>
        <div id="summary">
            <MudText
                Typo="Typo.subtitle2"
                Class="margin-small-bottom"
            >
                Summary:
            </MudText>
            <p>
                <strong>Disposing</strong><br />
                @foreach(string quantity in SelectedQuantities)
                {
                    @quantity<br />
                }
                <strong>From</strong><br />
                @Location
            </p>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>