﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Components.FarmManagerTable
@using Microsoft.AspNetCore.Authorization

@inherits ProductsBase

@page "/products"
@attribute [Authorize]

<PageTitle>Products</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<FarmManagerTable
    T="Product"
    Items="@Items"
    HandleAddItem="HandleAddItem"
    HandleRowClick="HandleRowClick"
    Filter="HandleFilter"
>
    <Columns>
        <col />
        <col />
        <col />
        <col />
        <col class="table-actions" />
    </Columns>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Product, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Product, object>(x => x.Description)">
                Description
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<Product, object>(x => x.Category?.Name)">
                Category
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            Available For Sale
        </MudTh>
        <MudTh />
    </Header>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Description</MudTd>
        <MudTd>@context.Category?.Name</MudTd>
        <MudTd>
            @if (context.AvailableForSale)
            {
                <MudIcon Icon="@Icons.Material.Filled.Check" />
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Close" />
            }
        </MudTd>
        <MudTd>
            <MudIconButton 
                Icon="@Icons.Material.Filled.DeleteForever"
                Color="Color.Error"
                OnClick=@(() => HandleDeleteItem(
                    $"Are you sure you want to delete {context.Name} and all of its variations?",
                    context
                )) 
            />
        </MudTd>
    </RowTemplate>
</FarmManagerTable>