﻿@using FarmManager.Common.Consts
@using FarmManager.Data.DTOs.Devices
@using FarmManager.Web.Components.FarmManagerTable
@using Microsoft.AspNetCore.Authorization

@inherits DevicesBase

@page "/devices"
@attribute [Authorize]

<PageTitle>Devices</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<FarmManagerTable
    T="DeviceDTO"
    Items="@Items"
    HandleAddItem="HandleAddItem"
    Filter="HandleFilter"
    HandleRowClick="HandleRowClick"
    PaginationString="Devices Per Page"
>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<DeviceDTO, object>(x => x.DeviceId)">
                Device Id
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            Last Connection
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<DeviceDTO, object>(x => x.Name ?? string.Empty)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<DeviceDTO, object>(x => x.Model ?? string.Empty)">
                Model
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<DeviceDTO, object>(x => x.SerialNumber ?? string.Empty)">
                Serial Number
            </MudTableSortLabel>
        </MudTh>
    </Header>
    <RowTemplate>
        <MudTd>@context.DeviceId</MudTd>
        <MudTd>@context.LastConnection?.ToString(Formatting.DateFormat)</MudTd>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.Model</MudTd>
        <MudTd>@context.SerialNumber</MudTd>
    </RowTemplate>
</FarmManagerTable>