﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Components.FarmManagerTable

@inherits BusinessLocationsBase

<FarmManagerTable 
    T="BusinessLocation"
    Items="@Items"
    HandleAddItem="HandleAddItem"
    Filter="HandleFilter"
>
    <Columns>
        <col />
        <col />
        <col />
        <col />
        <col />
        <col class="table-actions" />
    </Columns>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<BusinessLocation, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<BusinessLocation, object>(x => x?.Address?.Street)">
                Address
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<BusinessLocation, object>(x => x?.Address?.City)">
                City
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<BusinessLocation, object>(x => x?.Address?.State)">
                State
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<BusinessLocation, object>(x => x?.Address?.ZipCode)">
                ZipCode
            </MudTableSortLabel>
        </MudTh>
        <MudTh />
    </Header>
    <RowTemplate>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context?.Address?.Street</MudTd>
        <MudTd>@context?.Address?.City</MudTd>
        <MudTd>@context?.Address?.State</MudTd>
        <MudTd>@context?.Address?.ZipCode</MudTd>
        <MudTh>
            <MudIconButton 
                Icon="@Icons.Material.Filled.DeleteForever"
                Color="Color.Error"
                OnClick=@(() => HandleDeleteItem(
                    $"Are you sure you want to delete {context.Name}?",
                    context
                )) 
            />
        </MudTh>
    </RowTemplate>
</FarmManagerTable>