﻿@using FarmManager.Data.Entities.Operations

@inherits ProductDetailsBase

<MudTextField
    Label="Name"
    Variant="Variant.Outlined"
    Margin="Margin.Dense"
    Class="margin-small-vertical"
    @bind-Value="Product.Name"
/>
<MudTextField 
    Label="Description"
    Variant="Variant.Outlined"
    Margin="Margin.Dense"
    Class="margin-small-bottom"
    @bind-Value="Product.Description" 
/>
<MudSelect
    T="int?"
    Margin="Margin.Dense"
    Dense="true"
    Label="Category"
    Variant="Variant.Outlined"
    Class="margin-small-bottom"
    AnchorOrigin="Origin.BottomCenter"
    @bind-Value="Product.CategoryId"
>
    @if(Product != null && Categories != null && Categories.Count > 0) 
    {
        foreach (ProductCategory category in Categories)
        {
            <MudSelectItem Value="@((int?)category.Id)">@category.Name</MudSelectItem>
        }
    }
</MudSelect>
<div id="checkboxes" class="flex-row flex-even">
    <MudCheckBox 
        Label="Available For Sale"
        @bind-Checked="Product.AvailableForSale"
    />
</div>