﻿@using FarmManager.Data.Entities.Operations

@inherits VariantDetailsBase

<div id="add-variant" class="flex-row-reverse margin-small-vertical">
    <MudButton
        Variant="Variant.Outlined"
        Color="Color.Primary"
        OnClick="HandleAddVariant"
    >
        Add Variant
    </MudButton>
</div>
<MudExpansionPanels>
    @foreach (ProductVariant variant in Variants)
    {
        <MudExpansionPanel>
            <TitleContent>
                <div class="flex-row">
                    <MudText>@variant.Name</MudText>
                    <MudIconButton 
                        Icon="@Icons.Material.Filled.Remove"
                        Color="Color.Error"
                        Class="variant-remove-button"
                        OnClick="@(() => HandleRemoveVariant(variant))"
                    />
                </div>
            </TitleContent>
            <ChildContent>
                <div class="flex-row margin-small-bottom">
                    <MudTextField 
                        Label="Name"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Class="margin-small-right"
                        @bind-Value="variant.Name" 
                    />
                    <MudTextField 
                        Label="SKU"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        @bind-Value="variant.Sku" 
                    />
                </div>
                <div class="select-container margin-small-bottom">
                    <MudTextField 
                        Label="Purchase Price"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                        @bind-Value="variant.Price" 
                    />
                    <MudSpacer />
                    <MudTextField 
                        Label="Sale Price"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Adornment="Adornment.Start"
                        AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                        @bind-Value="variant.SalePrice" 
                    />
                </div>
                <MudSelect
                    T="int"
                    Margin="Margin.Dense"
                    Dense="true"
                    Label="Unit"
                    Variant="Variant.Outlined"
                    AnchorOrigin="Origin.BottomCenter"
                    Class="margin-small-bottom"
                    @bind-Value="variant.MeasurementUnitId"
                >
                    @if(Units != null && Units.Count > 0)
                    {
                        foreach (Unit unit in Units)
                        {
                            <MudSelectItem Value="@unit.Id">@unit.Symbol</MudSelectItem>
                        }
                    }
                </MudSelect>
                <div id="variant-checkboxes" class="flex-row flex-even margin-small-bottom">
                    <MudCheckBox 
                        Label="Track inventory"
                        Class="margin-small-right"
                        @bind-Checked="variant.TrackInventory" 
                    />
                    <MudTextField
                        Label="Lower Limit"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Class="margin-small-right"
                        Disabled="@(!variant.TrackInventory)"
                        @bind-Value="variant.LowInventoryThreshold"
                    />
                    <MudTextField
                        Label="Upper Limit"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Disabled="@(!variant.TrackInventory)"
                        @bind-Value="variant.HighInventoryThreshold"
                    />
                </div>
            </ChildContent>
        </MudExpansionPanel>
    }
</MudExpansionPanels>