﻿@using FarmManager.Common.Consts
@using FarmManager.Data.DTOs.Production
@using FarmManager.Web.Components.FarmManagerTable
@using Microsoft.AspNetCore.Authorization

@inherits ProduceBase

@page "/produce"
@attribute [Authorize]

<PageTitle>Production</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<FarmManagerTable
    T="LotDTO"
    Items="Items"
    ShowDatePicker="true"
    OnDateSelect="RefreshItems"
    ItemDateRange="ProduceDateRange"
    HandleAddItem="HandleAddItem"
    Filter="HandleFilter"
    HandleRowClick="HandleRowClick"
    PaginationString="Lots Per Page"
>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<LotDTO, object>(x => x.CreatedDate)">
                Created
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<LotDTO, object>(x => x.LotNumber)">
                Lot Number
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<LotDTO, object>(x => x?.Product ?? string.Empty)">
                Product
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<LotDTO, object>(x => x?.Location ?? string.Empty)">
                Location
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<LotDTO, object>(x => x?.Location ?? string.Empty)">
                Transplanted Location
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<LotDTO, object>(x => x?.ProductStatus ?? string.Empty)">
                Status
            </MudTableSortLabel>
        </MudTh>
        <MudTh />
    </Header>
    <RowTemplate>
        <MudTd>@context.CreatedDate?.ToString(Formatting.DateFormat)</MudTd>
        <MudTd>@context.LotNumber</MudTd>
        <MudTd>@context?.Product</MudTd>
        <MudTd>@context?.Location</MudTd>
        <MudTd>@context?.TransplantedLocation</MudTd>
        <MudTd>
            @context?.ProductStatus
        </MudTd>
        <MudTd Class="flex-row">
            @if (context?.Status == "pending") 
            {
                <MudTooltip Text="Promote">
                    <MudIconButton
                        Icon="@Icons.Material.Filled.ArrowCircleUp"
                        Color="Color.Primary"
                        OnClick="@(() => PromoteLot(context.Id, context.LotNumber))"
                    />
                </MudTooltip>
            }
            @if (context?.Status == "producing")
            {
                <MudTooltip Text="Promote">
                    <MudIconButton
                        Icon="@Icons.Material.Filled.CheckCircleOutline"
                        Color="Color.Primary"
                        OnClick="@(() => PromoteLot(context.Id, context.LotNumber))"
                    />
                </MudTooltip>
            }
            <MudTooltip Text="Add Note">
                <MudIconButton
                    Icon="@Icons.Material.Filled.NoteAdd"
                    OnClick="@(() => HandleAddNote(context?.LotNumber))"
                />
            </MudTooltip>
        </MudTd>
    </RowTemplate>
</FarmManagerTable>