﻿@using FarmManager.Data.DTOs.Production
@using FarmManager.Web.Components.FarmManagerTable

@inherits BatchesBase

<FarmManagerTable T="BatchDTO"
    Items="Items"
    HandleAddItem="HandleAddItem"
    HandleRowClick="HandleRowClick"
    PaginationString="Batches Per Page"
    DisableAdd="@(!string.Equals(LotData?.Status, "producing"))"
>
    <Header>
        <MudTh>
            Batch #
        </MudTh>
        <MudTh>
            Status
        </MudTh>
        <MudTh>
            Location
        </MudTh>
        <MudTh>
            Items
        </MudTh>
    </Header>
    <RowTemplate>
        <MudTd>@context.BatchNumber</MudTd>
        <MudTd Class=@(context.Status == "Open" ? "success" : "error")>@context.Status</MudTd>
        <MudTd>@context.Location</MudTd>
        <MudTd>@context.ItemCount</MudTd>
    </RowTemplate>
</FarmManagerTable>