﻿@using FarmManager.Data.DTOs.Production
@using Microsoft.AspNetCore.Authorization

@inherits LabelsBase

@page "/labels"
@attribute [Authorize]

<PageTitle>Labels</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />

<MudTable
    T="LabelDTO"
    Items="Labels"
    Dense="true"
    Hover="true"
    Striped="true"
    Class="pointer"
    GroupBy="@GroupDefinition"
    Filter="Filter"
>
    <ToolBarContent>
        <MudTextField
            @bind-Value="@SearchText"
            Label="Search Text"
            Variant="Variant.Outlined"
            Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Class="margin-small-right"
            Margin="Margin.Dense"
        />
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            StartIcon="@Icons.Material.Filled.Add"
            OnClick="HandleAddItem"
        >
            Add
        </MudButton>
    </ToolBarContent>
    <GroupHeaderTemplate>
        @if(true) 
        {
            LabelDTO? item = context.Items.FirstOrDefault();

            <MudTh Style="font-weight: bold" colspan="2">
                @($"{item?.LabelName}: {item?.ProductVariantName} ({context.Items.Count()})")
            </MudTh>
        }
    </GroupHeaderTemplate>
    <HeaderContent>
        <MudTh>Version</MudTh>
        <MudTh>Active</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Version</MudTd>
        <MudTd>
            @if (true)
            {
                string icon = context?.IsActive ?? false
                    ? Icons.Material.Filled.Check
                    : Icons.Material.Filled.Close;

                <MudIcon Icon="@icon" />
            }
        </MudTd>
    </RowTemplate>
</MudTable>