﻿@inherits AddNoteDialogBase

<MudDialog>
    <DialogContent>
        <MudTextField 
            T="string"
            Label="Note"
            Variant="Variant.Outlined"
            Lines="5"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value="@NoteContent"
        />
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>