﻿@using FarmManager.Web.Pages.Operations.Locations.BusinessLocations
@using FarmManager.Web.Pages.Operations.Locations.ProductionLocations
@using Microsoft.AspNetCore.Authorization

@inherits LocationsBase

@page "/locations"
@attribute [Authorize]

<PageTitle>Locations</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />
<MudTabs
    Elevation="0"
    Rounded="true"
    ApplyEffectsToContainer="true"
    Centered="true"
>
    <MudTabPanel Text="Business">
        <BusinessLocations />
    </MudTabPanel>

    <MudTabPanel Text="Production">
        <ProductionLocations />
    </MudTabPanel>
</MudTabs>