﻿@using FarmManager.Data.Entities.Operations

@inherits ProductSelectBase

<MudSelect
    T="int?"
    Label="Product"
    Margin="Margin.Dense"
    Dense="true"
    Variant="Variant.Outlined"
    AnchorOrigin="Origin.BottomCenter"
    Class="margin-small-bottom"
    Value="SelectedProductId"
    ValueChanged="HandleProductChange"
>
    @foreach (Product product in Products)
    {
        <MudSelectItem Value="@((int?)product.Id)">@product.Name</MudSelectItem>
    }
</MudSelect>
<MudSelect
    T="int?"
    Label="Variant"
    Margin="Margin.Dense"
    Dense="true"
    Variant="Variant.Outlined"
    AnchorOrigin="Origin.BottomCenter"
    ValueChanged="HandleVariantChange"
>
    @foreach (ProductVariant variant in Variants)
    {
        <MudSelectItem Value="@((int?)variant.Id)">@variant.Name</MudSelectItem>
    }
</MudSelect>