﻿/* Margin */

.margin-auto {
    margin: auto;
}

.margin-small-bottom {
    margin-bottom: 1rem !important;
}

.margin-small-top {
    margin-top: 1rem !important;
}

.margin-small-vertical {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

.margin-small-right {
    margin-right: 1rem !important;
}

/* Flex */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-even {
    justify-content: space-evenly;
}

flex-between {
    justify-content: space-between
}

.flex-around {
    justify-content: space-around;
}

.flex-grow {
    flex-grow: 1;
}

.flex-center {
    align-items: center;
}

/* Height */

.height-100 {
    height: 100%;
}

/* Width */
.width-100 {
    width: 100%;
}

/* Colors */

.success {
    color: #00c853ff !important;
}

.error {
    color: #f44336ff !important;
}

/* Misc */
.center-text {
    text-align: center
}

.pointer {
    cursor: pointer;
}

.table-actions {
    width: 9rem;
}

.date-range-container {
    width: 20rem;
    margin-right: 1rem;
}