﻿@using FarmManager.Web.Pages.Production.Produce.LotInfo.Batches
@using FarmManager.Web.Pages.Production.Produce.LotInfo.Notes
@using Microsoft.AspNetCore.Authorization

@inherits LotInfoBase

@page "/produce/{lotNumber}"
@attribute [Authorize]

<PageTitle>Lot Details</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />

@if (LotData != null)
{
    <div class="flex-row flex-between flex-center margin-small-bottom">
        <MudText Typo="Typo.h6">
            @LotData.Product: @LotData.Location
        </MudText>
        <MudSpacer />
        <div class="flex-row flex-center">
            <MudText Typo="Typo.h6">
                @LotData.ProductStatus
            </MudText>
            <MudIconButton 
                Icon="@Icons.Material.Filled.ArrowCircleUp"
                Color="Color.Primary"
                OnClick="PromoteLot"
            />
        </div>
    </div>
}

<MudTabs
    Elevation="0"
    Rounded="true"
    ApplyEffectsToContainer="true"
    Centered="true"
>
    <MudTabPanel Text="Batches">
        <Batches 
            LotNumber="@LotNumber"
            LotData="@LotData"
        />
    </MudTabPanel>

    <MudTabPanel 
        Text="Notes"
        BadgeData="@LotData?.NoteCount"
        BadgeColor="Color.Primary"
    >
        <Notes 
            LotNumber="@LotNumber"
            OnNoteSave="IncrementNoteCount"
        />
    </MudTabPanel>
</MudTabs>