﻿@using FarmManager.Data.Entities.System
@using Microsoft.AspNetCore.Authorization

@inherits SettingsBase

@page "/settings"
@attribute [Authorize]

<PageTitle>Settings</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs"/>
<MudTabs
    Elevation="0"
    Rounded="true"
    ApplyEffectsToContainer="true"
    Centered="true"
>
    @if(Settings != null) 
    {
        foreach(IGrouping<string, Setting> group in Settings)
        {
            <MudTabPanel Text="@group.Key">
                @foreach(Setting setting in group)
                {
                    <MudTextField
                        T="string"
                        Label="@setting.Label"
                        HelperText="@setting.Description"
                        Variant="Variant.Outlined"
                        Margin="Margin.Dense"
                        Class="margin-small-bottom"
                        @bind-Value="SettingValues[setting.Name]"
                    />
                }
            </MudTabPanel>
        }
        <div class="flex-row-reverse">
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                OnClick="HandleSave"
            >
                Save
            </MudButton>
        </div>
    }
</MudTabs>