﻿@using FarmManager.Web.Pages.Reports.Production.Statistics
@using Microsoft.AspNetCore.Authorization

@inherits ReportsBase

@page "/reports"
@attribute [Authorize]

<PageTitle>Reports</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />

<MudTabs
    Elevation="0"
    Rounded="true"
    ApplyEffectsToContainer="true"
    Centered="true"
>
    <MudTabPanel Text="Production">
        <MudTabs
            Elevation="0"
            Rounded="true"
            ApplyEffectsToContainer="true"
            Centered="true"
            Class="margin-small-top"
        >

            @*<MudTabPanel 
                Text="Daily Summary"
                ToolTip="Production summary for a specific day"
            >
                <Statistics />
            </MudTabPanel>*@

            <MudTabPanel 
                Text="Statistics"
                ToolTip="Days to harvest, yields, etc"
            >
                <Statistics />
            </MudTabPanel>

        </MudTabs>
    </MudTabPanel>

</MudTabs>