﻿@inherits AddCategoryDialogBase

<MudDialog>
    <DialogContent>
        <MudTextField
            Label="Name"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            @bind-Value=Category.Name
        />
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>