﻿@using FarmManager.Common.Helpers
@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Components.FarmManagerTable

@inherits ProductionLocationsBase

<FarmManagerTable
    T="FarmLocation"
    Items="@Items"
    HandleAddItem="HandleAddItem"
    Filter="HandleFilter"
    PaginationString="Locations Per Page"
>
    <Columns>
        <col />
        <col />
        <col />
        <col />
        <col class="table-actions"/>
    </Columns>
    <Header>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FarmLocation, object>(x => x?.BusinessLocation?.Name ?? string.Empty)">
                Business Location
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FarmLocation, object>(x => x?.ParentLocation?.Name ?? string.Empty)">
                Parent Location
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FarmLocation, object>(x => x.Name)">
                Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<FarmLocation, object>(x => x.LocationType?.Label ?? string.Empty)">
                Type
            </MudTableSortLabel>
        </MudTh>
        <MudTh />
    </Header>
    <RowTemplate>
        <MudTd>@context?.BusinessLocation?.Name</MudTd>
        <MudTd>@LocationHelper.GenerateFarmLocationParentString(context)</MudTd>
        <MudTd>@context.Name</MudTd>
        <MudTd>@context.LocationType?.Label</MudTd>
        <MudTd>
            @if(!string.Equals(context.Name, "unknown", StringComparison.OrdinalIgnoreCase))
            {
                <MudIconButton 
                    Icon="@Icons.Material.Filled.DeleteForever"
                    Color="Color.Error"
                    OnClick=@(() => HandleDeleteItem(
                        $"Are you sure you want to delete {context.Name} and all of its children?",
                        context
                    )) 
                />
            }
        </MudTd>
    </RowTemplate>
</FarmManagerTable>