﻿@using FarmManager.Common.Helpers
@using FarmManager.Data.Entities.Operations

@using Enum = FarmManager.Data.Entities.Generic.Enum

@inherits AddFarmLocationDialogBase

<MudDialog>
    <DialogContent>
        <MudTextField
            Label="Name"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value="Location.Name"
        />
        <MudTextField
            Label="Barcode"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value="Location.Barcode"
        />
        <MudSelect
            T="int"
            Label="Location Type"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="Location.LocationTypeId"
        >
            @foreach(Enum e in LocationTypes)
            {
                <MudSelectItem Value="e.Id">@e.Label</MudSelectItem>
            }
        </MudSelect>
        <MudSelect
            T="int"
            Label="Business Location"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            Disabled=@(BusinessLocations.Count() == 0)
            @bind-Value="Location.BusinessLocationId"
        >
            @if(BusinessLocations.Count() == 0)
            {
                <MudSelectItem Value="0">@string.Empty</MudSelectItem>
            }
            @foreach(BusinessLocation location in BusinessLocations) 
            {
                <MudSelectItem Value="location.Id">@location.Name</MudSelectItem>
            }
        </MudSelect>
        @if(ProductionLocations.Count > 0) 
        {
            <MudSelect
                T="int?"
                Label="Parent Location"
                Margin="Margin.Dense"
                Disabled=@(Location.BusinessLocationId == 0)
                Dense="true"
                Variant="Variant.Outlined"
                AnchorOrigin="Origin.BottomCenter"
                Class="margin-small-bottom"
                @bind-Value="Location.ParentLocationId"
            >
                @foreach(FarmLocation location in FilteredLocations()) 
                {
                    string parent = LocationHelper.GenerateFarmLocationParentString(location);
                    parent = string.IsNullOrEmpty(parent)
                        ? parent
                        : $"({parent})";

                    <MudSelectItem Value="(int?)location.Id">
                        @location.Name @parent
                    </MudSelectItem>
                }
            </MudSelect>
        }
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>