﻿@using Enum = FarmManager.Data.Entities.Generic.Enum;

@inherits AddUnitDialogBase

<MudDialog Style="min-width: 300px">
    <DialogContent>
        <MudTextField
            T="string"
            Label="Unit"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value="Unit.Name"
        />
        <MudTextField
            T="string"
            Label="Symbol"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value="Unit.Symbol"
        />

        <MudSelect
            T="int"
            Label="Precision"
            Margin="Margin.Dense"
            Dense="true"
            Variant="Variant.Outlined"
            AnchorOrigin="Origin.BottomCenter"
            Class="margin-small-bottom"
            @bind-Value="Unit.Precision"
        >
            @foreach(Enum precision in UnitPrecisions)
            {
                if(int.TryParse(precision.Name, out int value))
                {
                    <MudSelectItem Value="@value">@precision.Label</MudSelectItem>
                }
            }
        </MudSelect>

    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>