﻿@using FarmManager.Data.Entities.Reports.Production

@inherits StatisticsBase

<MudTable
    T="CropStatistic"
    Items="Statistics"
    Dense="true"
    Hover="true"
    Striped="true"
    Class="pointer margin-small-top"
>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<CropStatistic, object>(x => x.CropName)">
                Crop
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<CropStatistic, object>(x => x.LotCount)">
                Total Lots
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<CropStatistic, object>(x => x.BatchCount)">
                Batches per Lot (avg)
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<CropStatistic, object>(x => x.DaysToGerminate)">
                Days to Germinate (avg)
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<CropStatistic, object>(x => x.DaysToHarvest)">
                Days to Harvest (avg)
            </MudTableSortLabel>
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.CropName</MudTd>
        <MudTd>@context.LotCount</MudTd>
        <MudTd>@context.BatchCount</MudTd>
        <MudTd>@context.DaysToGerminate</MudTd>
        <MudTd>@context.DaysToHarvest</MudTd>
        <MudTd>
            <MudButton
                Variant="Variant.Outlined"
                Color="Color.Primary"
                OnClick="@(() => DisplayYields(context))"
            >
                Yield Data
            </MudButton>
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Crops per Page" />
    </PagerContent>
</MudTable>