﻿@using FarmManager.Web.Services.PrintService
@using Microsoft.AspNetCore.Authorization

@inherits HarvestBase

@page "/produce/{lotNumber}/batches/{batchNumber:int}"
@attribute [Authorize]

<PageTitle>Harvest</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />

<div id="batch-summary" style="display: flex; justify-content: space-between; margin-bottom: 2rem">
    <div>
        <MudText><strong>Lot #</strong>: @LotNumber</MudText>
        <MudText><strong>Batch #</strong>: @BatchNumber</MudText>
        <MudText><strong>Location</strong>: @ProductData.Location</MudText>
        <MudText><strong>Product</strong>: @ProductData.Product</MudText>
        <MudText><strong>Item #</strong>: @ProductData.NextProductCount</MudText>
    </div>
    <div style="flex-grow: 1"></div>
    <div>
        <div style="display: flex">
            <MudSelect
                T="string"
                Label="Printer"
                Margin="Margin.Dense"
                Dense="true"
                Variant="Variant.Outlined"
                AnchorOrigin="Origin.BottomCenter"
                Style="min-width: 250px"
                @bind-Value="SelectedPrinter"
            >
                @foreach(LabelPrinter printer in Printers) 
                {
                    Color color;
                    string icon;
                    if(printer.IsConnected)
                    {
                        color = Color.Success;
                        icon = Icons.Material.Filled.Print;
                    }
                    else
                    {
                        color = Color.Error;
                        icon = Icons.Material.Filled.PrintDisabled;
                    }

                    <MudSelectItem Value="printer.Name">
                        <div style="display: flex; align-items: center">
                            <MudIcon 
                                Icon="@icon" 
                                Color="@color" 
                                Style="margin-right: 1rem"
                                Size="Size.Small"
                            />
                            @printer.Name
                        </div>
                    </MudSelectItem>
                }
            </MudSelect>
            <MudIconButton
                Icon="@Icons.Material.Filled.Refresh"
                Color="Color.Primary"
            />
        </div>
    </div>
</div>

<div id=harvest-container style="display: flex;">
    <div id="harvest" style="margin: auto">
        <MudText 
            Typo="Typo.h5" 
            Class="margin-small-bottom center-text"
        >
            @ProductData.Variant
        </MudText>
        <MudTextField
            T="double?"
            Label="Tare Weight"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value=TareWeight
        />
        <MudTextField
            T="double?"
            Label="Label Weight"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value=LabelWeight
        />
        <MudTextField
            T="double?"
            Label="Gross Weight"
            Variant="Variant.Outlined"
            Margin="Margin.Dense"
            Class="margin-small-bottom"
            @bind-Value=GrossWeight
        />
        <div style="display: flex; margin-bottom: 1rem">
            <MudIconButton 
                Icon="@Icons.Material.Filled.Remove"
                Style="margin-right: .25rem"
                OnClick="HandleDecrement"
            />
            <MudTextField
                T="int"
                Label="Quantity"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                Value="Quantity"
                ValueChanged="HandleQuantityChange"
            />
            <MudIconButton 
                Icon="@Icons.Material.Filled.Add"
                Style="margin-left: .25rem"
                OnClick="HandleIncrement"
            />
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 1rem">
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Error"
                OnClick="HandleCancel"
            >
                Cancel    
            </MudButton>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                OnClick="HandleSave"
                Disabled=@(SelectedPrinter == null)
            >
                Save
            </MudButton>
        </div>
        <div>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Warning"
                Class="width-100"
                OnClick="HandleClose"
            >
                Close Batch
            </MudButton>
        </div>
    </div>
</div>