﻿@typeparam T

@inherits FarmManagerTableBase<T>

<MudTable
    T="T"
    Items="Items"
    Dense="true"
    Hover="true"
    Striped="true"
    Class="pointer"
    Filter="TryFilter"
    OnRowClick="TryRowClick"
>
    <ToolBarContent>
        @if(ShowDatePicker)
        {
            <div id="date-range-container" class="date-range-container">
                <MudDateRangePicker 
                    Label="Log Date"
                    Variant="Variant.Outlined"
                    Margin="Margin.Dense"
                    @bind-DateRange="@ItemDateRange"
                    @ref="DateRangePicker"
                >
                    <PickerActions>
                        <MudButton OnClick="@(() => DateRangePicker?.Close(false))">
                            Cancel
                        </MudButton>
                        <MudButton Color="Color.Primary"
                               OnClick="@(() => RefreshData())">
                            Ok
                        </MudButton>
                    </PickerActions>
                </MudDateRangePicker>
            </div>
        }
        <MudTextField
            @bind-Value="@SearchText"
            Label="Search Text"
            Variant="Variant.Outlined"
            Adornment="Adornment.Start"
            AdornmentIcon="@Icons.Material.Filled.Search"
            Class="margin-small-right"
            Margin="Margin.Dense"
        />
        <MudButton
            Variant="Variant.Filled"
            Color="Color.Primary"
            StartIcon="@Icons.Material.Filled.Add"
            OnClick="TryAddItem"
            Disabled="@DisableAdd"
        >
            Add
        </MudButton>
    </ToolBarContent>
    <ColGroup>
        @if (Columns != null)
        {
            @Columns
        }
    </ColGroup>
    <HeaderContent>
        @if (Header != null) 
        {
            @Header
        }
    </HeaderContent>
    <RowTemplate>
        @if (RowTemplate != null) 
        {
            @RowTemplate(context);
        }
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="@PaginationString" />
    </PagerContent>
</MudTable>