﻿@using FarmManager.Data.Entities.Operations
@using FarmManager.Web.Pages.Operations.Products.ProductInformation.ProductDetails
@using FarmManager.Web.Pages.Operations.Products.ProductInformation.VariantDetails

@inherits AddProductDialogBase

<MudDialog>
    <DialogContent>
        <MudTabs 
            Elevation="0"
            Rounded="true"
            ApplyEffectsToContainer="true"
            Centered="true"
        >
            <MudTabPanel Text="Product Detail">
                <ProductDetails
                    Product="Product"
                    Categories="Categories"
                />
            </MudTabPanel>

            <MudTabPanel Text="Variants" BadgeData="@Product?.Variants?.Count" BadgeColor="Color.Primary">
                <VariantDetails
                    Variants="Product?.Variants?.ToList()"
                    Units="Units"
                    HandleAddVariant="HandleAddVariant"
                    HandleRemoveVariant="HandleRemoveVariant"
                />
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Error"
            OnClick="TryCancel"
        >
            Cancel
        </MudButton>
        <MudButton 
            Variant="Variant.Filled"
            Color="Color.Primary"
            OnClick="TrySave"
        >
            Save
        </MudButton>
    </DialogActions>
</MudDialog>