﻿::deep .variant-remove-button {
    padding: 0 !important;
    margin-left: 1rem !important;
}

.select-container {
    display: grid;
    grid-template-columns: [start] 48.5% [break] 1rem [next] auto;
}