﻿@using FarmManager.Web.Components.AppBar
@using FarmManager.Web.Components.Drawer

@inherits MainLayoutBase

<PageTitle>Farm Manager</PageTitle>

<MudThemeProvider Theme="FarmManagerTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <AppBar />
    <Drawer />
    <MudMainContent>
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<MudOverlay Visible="@Store.IsLoading" DarkBackground="true" ZIndex="9999" Absolute="true">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
</MudOverlay>