.navbar-inverse {
    background-color: #306B2B;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #306B2B;
}

.affix ul > li.active > a, .affix ul > li.active > a:before {
    color: #4cc748;
}

.toc .nav > li.active > a {
    color: #4cc748;
}

button, a {
    color: #4cc748;
}
