﻿@using FarmManager.Data.Entities.Operations

@inherits AddLocationDialogBase

<EditForm Model="@Location" OnValidSubmit="TrySave">
    <DataAnnotationsValidator />
    <MudDialog>
        <DialogContent>
            <MudTextField
                Label="Name"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                For="@(() => Location.Name)"
                Class="margin-small-bottom"
                @bind-Value="Location.Name"
            />
            <MudTextField 
                Label="Address"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                For="@(() => Location.Address.Street)"
                Class="margin-small-bottom"
                @bind-Value="Location.Address.Street" />
            <MudTextField 
                Label="City"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                For="@(() => Location.Address.City)"
                Class="margin-small-bottom"
                @bind-Value="Location.Address.City" />
            <MudTextField 
                Label="State"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                For="@(() => Location.Address.State)"
                Class="margin-small-bottom"
                @bind-Value="Location.Address.State" />
            <MudTextField 
                Label="ZipCode"
                Variant="Variant.Outlined"
                Margin="Margin.Dense"
                For="@(() => Location.Address.ZipCode)"
                @bind-Value="Location.Address.ZipCode" />
        </DialogContent>
        <DialogActions>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Error"
                OnClick="TryCancel"
            >
                Cancel
            </MudButton>
            <MudButton 
                ButtonType="ButtonType.Submit"
                Variant="Variant.Filled"
                Color="Color.Primary"
            >
                Save
            </MudButton>
        </DialogActions>
    </MudDialog>
</EditForm>