﻿@using FarmManager.Data.DTOs.Production

@inherits SummaryBase

<div class="flex-row margin-small-bottom">
    <MudTextField 
        T="string"
        Label="Barcode"
        AutoFocus="true"
        Variant="Variant.Outlined"
        Margin="Margin.Dense"
        Class="margin-small-right"
        ValueChanged="HandleBarcodeChange"
        Value="string.Empty"
    />
    <MudButton
        Variant="Variant.Outlined"
        Color="Color.Secondary"
        OnClick="HandleManual"
    >
        Manual
    </MudButton>
</div>

<MudTable
    T="InventoryItem"
    Items="Items"
    Dense="true"
    Hover="true"
    Striped="true"
    RowsPerPage="ItemsPerPage"
>
    <HeaderContent>
        <MudTh>
            Product
        </MudTh>
        <MudTh>
            Variant
        </MudTh>
        <MudTh>
            Barcode
        </MudTh>
        <MudTh>
            Quantity
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Product</MudTd>
        <MudTd>@context.Variant</MudTd>
        <MudTd>@context.Barcode?.UserFriendlyBarcode</MudTd>
        <MudTd>@context.Quantity</MudTd>
        <MudTd>
            <MudIconButton 
                Icon="@Icons.Material.Filled.DeleteForever" 
                OnClick="@(() => HandleDelete(context))"
            />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { ItemsPerPage }"/>
    </PagerContent>
</MudTable>