﻿@using FarmManager.Common.Consts
@using FarmManager.Common.Helpers
@using FarmManager.Data.DTOs.Production
@using FarmManager.Data.Entities.Operations
@using Microsoft.AspNetCore.Authorization

@inherits InventoryBase

@page "/inventory"
@attribute [Authorize]

@* Double the height of the toolbar for this page only *@
<style>
    .mud-table-toolbar {
        height: 128px;
    }
</style>

<PageTitle>Inventory</PageTitle>

<MudBreadcrumbs Items="Breadcrumbs" />

<MudTable
    T="InventoryItem"
    Items="Inventory"
    Dense="true"
    Hover="true"
    Striped="true"
    MultiSelection="true"
    Filter="HandleFilter"
    @bind-SelectedItems=SelectedInventory
>
    <ToolBarContent>
        <div id="toolbar-container" class="flex-column width-100">
            <div id="action-container" class="flex-row margin-small-bottom">
                <div id="business-select" class="select-container margin-small-right">
                    <MudSelect
                        T="int?"
                        Label="Business Location"
                        Margin="Margin.Dense"
                        Dense="true"
                        Variant="Variant.Outlined"
                        AnchorOrigin="Origin.BottomCenter"
                        Value="SelectedBusinessLocation"
                        ValueChanged="HandleBusinessLocationChange"
                    >
                        @foreach(BusinessLocation location in BusinessLocations)
                        {
                            <MudSelectItem Value="@((int?)location.Id)">@location.Name</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div id="location-select" class="select-container">
                    <MudSelect
                        T="int?"
                        Label="Farm Location"
                        Margin="Margin.Dense"
                        Dense="true"
                        Variant="Variant.Outlined"
                        AnchorOrigin="Origin.BottomCenter"
                        Disabled="@(SelectedBusinessLocation == 0)"
                        Value="SelectedFarmLocation"
                        ValueChanged="HandleFarmLocationChange"
                    >
                        @foreach (FarmLocation location in FilteredFarmLocations())
                        {
                            string parent = LocationHelper.GenerateFarmLocationParentString(location);
                            parent = string.IsNullOrEmpty(parent)
                                ? parent
                                : $"({parent})";

                            <MudSelectItem Value="(int?)location.Id">
                                @location.Name @parent
                            </MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <MudSpacer />
                <MudButton
                    Disabled="@(!CanReceive())"
                    StartIcon="@Icons.Material.Filled.DoubleArrow"
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    Class="margin-small-right"
                    OnClick="HandleReceive"
                >
                    Receive
                </MudButton>
                <MudButton
                    Disabled="@(SelectedInventory.Count == 0)"
                    StartIcon="@Icons.Material.Filled.SwapHoriz"
                    Variant="Variant.Outlined"
                    Color="Color.Primary"
                    Class="margin-small-right"
                    OnClick="HandleTransfer"
                >
                    Transfer
                </MudButton>
                <MudButton
                    Disabled="@(SelectedInventory.Count == 0)"
                    StartIcon="@Icons.Material.Filled.Delete"
                    Variant="Variant.Outlined"
                    Color="Color.Error"
                    Class="margin-small-right"
                    OnClick="HandleDispose"
                >
                    Dispose
                </MudButton>
                @*<MudButton
                    Disabled="@(SelectedFarmLocation == null)"
                    StartIcon="@Icons.Material.Filled.Refresh"
                    Variant="Variant.Outlined"
                    Color="Color.Warning"
                >
                    Reconcile
                </MudButton>*@
            </div>
            <div id="search-container">
                <MudTextField
                    Label="Search Text"
                    Variant="Variant.Outlined"
                    Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search"
                    Class="margin-small-right"
                    Margin="Margin.Dense"
                    @bind-Value="@SearchText"
                />
            </div>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<InventoryItem, object>(x => x.Product)">
                Product
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<InventoryItem, object>(x => x.Variant)">
                Variant
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<InventoryItem, object>(x => x.ProductionDate)">
                Production Date
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<InventoryItem, object>(x => x.LotNumber)">
                LotNumber
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<InventoryItem, object>(x => x.BatchNumber)">
                Batch Number
            </MudTableSortLabel>
        </MudTh>
        <MudTh>
            <MudTableSortLabel SortBy="new Func<InventoryItem, object>(x => x.Barcode ?? new())">
                Barcode
            </MudTableSortLabel>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Product</MudTd>
        <MudTd>@context.Variant</MudTd>
        <MudTd>@context.ProductionDate.ToString(Formatting.DateFormat)</MudTd>
        <MudTd>@context.LotNumber</MudTd>
        <MudTd>@(context.BatchNumber > 0 ? context.BatchNumber : string.Empty)</MudTd>
        <MudTd>
            @if(context.Barcode != null && !string.IsNullOrEmpty(context.Barcode.UserFriendlyBarcode))
            {
                @context.Barcode.UserFriendlyBarcode.Substring(context.Barcode.UserFriendlyBarcode.Length - 10)
                <MudIconButton 
                    Icon="@Icons.Material.Filled.CopyAll" 
                    OnClick="@(() => HandleCopy(context.Barcode.UserFriendlyBarcode))"
                />
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager RowsPerPageString="Items per Page"/>
    </PagerContent>
</MudTable>